<footer class="footer__row row lg">
    <div class="col footer__col">
        <p class="footer__text">
            {# TODO: Link #}
            This website was made as a side project and its source code can be found here <a href="link">Here</a>.
            The creator of this project does not claim any responsibility for misuse or abuse of this project.
        </p>
    </div>
</footer>
