<header class="row md header__row">
    <div class="col header__col">
        <h1 class="header__title">Image Crawler</h1>
        <img class="header__image" src="{{ asset('img/spider.jpg') }}" alt="Image of a spider">
    </div>
</header>
