{% extends "@App/base.html.twig" %}

{% block content %}
    {% if images is defined %}
        <main class="row lg">
            <div class="col crawled__col">
                <h2 class="content__h2">Saved files</h2>
                <ul class="crawled__list">
                    {% for image in images %}
                        <li class="crawled__item">
                            <img class="crawled__image" src="{{ image.publicPath }}" alt="Crawled image">
                        </li>
                    {% endfor %}
            </div>
        </main>
    {% else %}
        <main class="row lg">
            <div class="col crawled__col">
                <p class="content__p">
                    It seems no images are saved yet! <a class="content__a" href="{{ path('app.save') }}">Start saving!</a>
                </p>
            </div>
        </main>
    {% endif %}
{% endblock %}
