{% extends "@app/base.html.twig" %}

{% block content %}
    <main class="row lg">
        <div class="col md-8">
            <h2 class="content__h2">Saving images</h2>
            {{ form_start(form) }}
                {{ form_row(form.url) }}
                <button class="form__button" type="submit">Save images</button>
            {{ form_end(form) }}
        </div>
        <div class="col md-4">
            <h2 class="content__h2">What's this?</h2>
            <p class="content__p">
                This image crawler is a small practice/sandbox project that allows you to fetch all the images from a particular website.
                Please note that it tends to crash sometimes in the background, so be gentle.
            </p>
            <p class="content__p">
                Looking to just crawl images instead of saving them? Please <a class="content__a" href="{{ path('app.crawl') }}">Click here</a>
            </p>
        </div>
    </main>
{% endblock %}
